# Application configuration

CONFIG_DEVICE_LDR_PIN=1
CONFIG_DEVICE_INT_PIN=2
CONFIG_DEVICE_SDA_PIN=3
CONFIG_DEVICE_SCL_PIN=4

CONFIG_IDF_TARGET="esp32s3"

# Setup flash

CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y

# SPIRAM

CONFIG_SPIRAM=y
CONFIG_SPIRAM_FETCH_INSTRUCTIONS=y
CONFIG_SPIRAM_RODATA=y
CONFIG_SPIRAM_SPEED_80M=y

# Status led

CONFIG_STATUS_LED_WS2812_PIN=38

# MQTT

CONFIG_MQTT_TOPIC_PREFIX="gesture_device"
CONFIG_MQTT_DEVICE_MANUFACTURER="Pieter"
CONFIG_MQTT_DEVICE_MODEL="Gesture Device"
CONFIG_MQTT_DEVICE_MODEL_ID="Gesture Device v1"
